[submodule "gameserver-service-java"]
	path = gameserver-service-java
	url = https://github.com/NickToony/gameserver-service-java.git
[submodule "gameserver-service-libgdx"]
	path = gameserver-service-libgdx
	url = https://github.com/NickToony/gameserver-service-libgdx.git
